*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:#000000;
}

.titulo{
    width: 100%;
   
}
body h1{
   color: white;
   width: 100%;
   text-align: center;
}
body p{
    color: white;
   width: 100%;
   text-align: center;
}

body p a{
    text-decoration: none;
    color: white;
    
}

section.container{
    width: 100%;
    height: 750px;
}

section div.principal{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height:500px;
   
    margin: 120px auto;
    


}

button.reset{
    width: 50px;
    height: 50px;
    background-color: white;
    color: black;
    margin-right: auto;
    cursor: pointer;
    border-radius: 20px;
}




section div.principal .q{
    cursor: pointer;
    width: 166px;
    height: 166px;
    background-color: rgb(255, 255, 255);

}





section div.principal .q11{
    border-right: 8px solid rgb(255, 255, 255);
    border-bottom: 8px solid rgb(255, 255, 255);
}

section div.principal .q12{
    border-right: 8px solid rgb(255, 255, 255);
    border-bottom: 8px solid rgb(255, 255, 255);
}

section div.principal .q13{
   
    border-bottom: 8px solid rgb(255, 255, 255);
}

section div.principal .q21{
    border-right: 8px solid rgb(255, 255, 255);
    border-bottom: 8px solid rgb(255, 255, 255);
}

section div.principal .q22{
   
    border-right: 8px solid rgb(255, 255, 255);
    border-bottom: 8px solid rgb(255, 255, 255);
}

section div.principal .q23{
   
    border-bottom: 8px solid rgb(255, 255, 255);
}



section div.principal .q31{
    border-right: 8px solid rgb(255, 255, 255);
  
}

section div.principal .q32{
   
    border-right: 8px solid rgb(255, 255, 255);
    
}


section.container_placar{
    display: flex;
    width: 200px;
    margin: 0;
    
}

section.container_placar .placarXimg{
    width: 50px;
    height: 50px;
    background-color: aliceblue;
    
    background-image: url(../image/X.png);
    background-size: contain;
    
}

section.container_placar .placarX{
   
    color: black;
    background-color: white;
    width: 50px;
    height: 50px;
   
    border-right: 4px solid rgb(0, 0, 0);
    
}

section.container_placar .placarX h1{
    background-color: white;
    text-align: center;
    margin-top: 10px;
    
   
}

section.container_placar .placarYimg{
    width: 50px;
    height: 50px;
    background-color: aliceblue;
    background-image: url(../image/O.png);
    background-size: contain;
    
}

section.container_placar .placarY{
   
    color: black;
    background-color: white;
    width: 50px;
    height: 50px;
    border-left: 4px solid black;
    
}


section.container_placar .placarY h1{
    background-color: white;
    text-align: center;
    margin-top: 10px;
    
    
    
}

.bordaJogador{
    border: 3px solid red;
}